p {
    margin: 0px;
}

h3 {
    margin: 0px;
}

h4 {
    margin: 0px;
    padding-left: 18px;
}

.bold {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
}

body {
    background-color: #EFEFEF;
    font-family: Verdana;
    margin: 0px;
}

#head {
    background-color: white;
    width: 100vw;
}

#logo {
    display: inline-block;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#positionDesign {
    vertical-align: top;
    margin-top: 20px;
    display: inline-block;
    padding-left: 55px;
}

#selectionDesign {
    color: #F83718;
    border: 0px;
    width: 145px;
    font-size: 15px;
    font-weight: bold;
}

#positionUser {
    vertical-align: top;
    margin-top: 10px;
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-right: 15px;
}

#selectionUser {
    border: 0px;
    color: #F83718;
}

#icon1 {
    vertical-align: top;
}

#leftColumn {
    float: left;
    width: 173px;
    margin-left: 1px;
}

#addTask {
    padding: 11px 25px 11px 25px;
    margin-top: 3px;
    background-color: #F83718;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 12px;

}

#freeInfo {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    color: #BBBBBB;
}

#allTasks {
    background-color: white;
    margin-top: 2px;
    padding-bottom: 15px;
    padding-top: 10px;
}

ul {
    color: #BBBBBB;
    list-style: square;
    margin: 0px;
}

li {
    margin: 5px 0 5px 0px;
}

li a {
    color: #F83718;
    text-decoration: none;
}

#reports {
    background-color: white;
    margin-top: 2px;
    padding-bottom: 15px;
    padding-top: 10px;
    color: #F83718;
}

#icon2 {
    padding-right: 10px;
}

#rightColumnBarcelonaDesign {
    display: inline-block;
    margin-left: 25px;
}

#rightColumn {
    display: inline-block;
    margin-left: 40px;
    margin-top: 18px;
    width: 1280px;
}

#rightColumn1 {
    background-color: white;
    margin-top: 13px;
    padding-bottom: 28px;
    padding-top: 25px;
    margin-left: 200px;
}

#rightColumn h3 {
    display: inline-block;
    margin-right: 20px;
    padding-left: 40px;
}

#rightColumn p {
    display: inline-block;
}

#rightColumnDesign {
    vertical-align: top;
    margin-top: 5px;
    border: 0px;
    font-size: 28px;
    font-weight: bold;
    background-color: #EFEFEF;
    width: 260px;
}

#addTaskRightColumn {
    float: right;
    color: #F83718;
}

#addTaskRightColumn p {
    vertical-align: top;
    padding: 0px 20px 0 0;
}

#data {
    background-color: white;
    margin-left: 200px;
    margin-top: 2px;
    padding: 15px 0 15px 50px;
}

#data select {
    margin-right: 15px;
    padding: 5px;
    font-weight: bold;
}

#dataSelect {
    width: 125px;
}

#taskSelect {
    width: 200px;
}

#searchField {
    color: #BBBBBB;
    float: right;
    margin-right: 20px;
    height: 30px;
    padding-left: 5px;
    width: 185px;
}

#tableDiv {
    padding-top: 10px;
    color: #BBBBBB;
}

#table {
    width: 1000px;
    float: left;
}

#table th {
    padding-right: 60px;
}

#table td {
    padding-left: 20px;
}

#navigation {
    margin-right: 20px;
}

#navigator {
    display: inline-block;
}

#navigator li {
    display: inline-block;
    margin-top: 10px;
}

#navigator ul {
    display: inline-block;
}

#navigator a {
    background-color: #EFEFEF;
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

#ulNavigator {
    padding: 0px;
}

#count {
    display: inline-block;
    float: right;
}

#count li {
    display: inline-block;
}

.black {
    color: black;
}

#formApplication {
    display: inline-block;
    background-color: #F83718;
    margin-left: 240px;
    padding: 120px 75px 120px 75px;
    color: white;
}

#buttonApply {
    border: 0;
    background-color: #EFEFEF;
}

#addressCompany {
    vertical-align: top;
    display: inline-block;
    background-color: white;
    padding: 105px 82px 105px 82px;
}

#site {
    color: #1381ff;
    padding-top: 20px;
}